@media all and (min-width: 480px) {
	
	/* Slider */
	.slider-comment-icon {
		display: inline-block;
	}
	
	.slider-header {
		font-size: 30px;
	}
	
	.slider-caption {
		font-size: 16px;
		line-height: 1.5em;
	}

	.slider-categories {
		display: block;
	}
	/* */
	
	/* Post Style B */
	.post-styleB .post-styleZ-img {
		width: 176px;
		height: 220px;
		float: left;
		position: absolute;
	}
	
	.post-styleB .post-styleZ-info {
		height: 220px;
		padding: 0 0 0 0;
	}
	
	.post-styleB .post-styleZ-info-with-t {
		padding-left: 176px;
	}
	/* */
			
}

@media all and (min-width: 640px) {
	
	/* Layout */
	.article-container {
		display: inline-block;
		width: 100%;
	}
	/* */
		
	/* Footer */
	.widget-item-footer-outer,
	.widget-item-footer-outer-col2,
	.widget-item-footer-outer-col4 {
		width: 50%;
		margin-right: 40px;
		margin-bottom: 40px;
	}
	
	.widget-item-footer-outer:nth-child(2n),
	.widget-item-footer-outer-col2:nth-child(2n),
	.widget-item-footer-outer-col4:nth-child(2n) {
		margin-right: 0px;
	}
	
	.widget-item-footer-outer:nth-child(2n+1),
	.widget-item-footer-outer-col2:nth-child(2n+1),
	.widget-item-footer-outer-col4:nth-child(2n+1) {
		margin-left: -40px;
	}
		
	.footer-widget-area-inner,
	.footer-widget-area-inner-col2,
	.footer-widget-area-inner-col4 {
		padding-left: 40px;
	}
	/* */
	
	/* Header & Footer Navigation */
	.footer-nav li {
		float: left;
	}
	
	.header-menu-touch .footer-nav li {
		float: none;
	}

	.footer-nav li a {
		line-height: 10px !important;
	}
	
	.header-menu-outer .footer-nav li a {
		line-height: 30px !important;
	}
	
	.footer-nav li.nav-sep {
		display: inline;
	}
	/* */
	
	/* Slider */
	.slider-header {
		font-size: 40px;
		line-height: 1em;
	}
	
	.slide-text-outer {
		margin: 20px;
	}
	
	.slide-text-padding {
		padding: 25px 40px 25px 40px;
	}
		
	.bx-wrapper .bx-prev {
		left: 10px;
	}
	
	.bx-wrapper .bx-next {
		right: 10px;
	}
	/* */
			
}

@media all and (min-width: 680px) {
	
	/* Widget Areas */	  
	.sidebar {
		max-width: 300px;
		float: right;		
		position: relative;
		margin-left: -300px;
		overflow: hidden;
	}
	/* */
	
	/* Layout */
	.article-wrapper-outer {
		float: left;
		margin-bottom: 0px;
	}
	
	.row-1-2 {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
		
	.col-1-2 {
		width: 50%;
		display: inline-block;
		padding-right: 10px;		
		float: left;
	}
	
	.col-1-2:nth-child(2n+2) {
		padding-left: 10px;
	}
	
	.main-container {
		padding-right: 0px;
	}
	
	.main-container-sidebar,
	.main-container-sidebar-cc2 {
		padding-right: 300px;
	}
	
	.site-content-sidebar,
	.site-content-sidebar-cc2 {
		float: left;
		padding-right: 20px;
		padding-bottom: 0px;
		width: 100%;
	}
	/* */
	
	/* Related & Authorized Posts */
	.related-posts-row {
		padding-left: 40px;
	}
	
	.related-post-item {
		width: 33.3%;
		margin-right: 20px;
		margin-bottom: 0;
	}
	
	.related-post-item:first-child {
		margin-left: -40px;
	}
	/* */
	
	/* Post Style A */	
	.post-styleA-2 .post-styleZ-img {
		width: 100%;
		height: auto;
		float: none;
		position: relative;
	}
		
	.post-styleA-2 .post-styleZ-info {
		height: 340px;
		padding: 0 0 0 0;
	}
		
	.post-styleA-2 .post-styleZ-info-with-t {
		padding-left: 0;
	}
	
	.post-styleA {
		height: 420px;
		overflow: hidden;
	}
	
	.post-styleA .post-styleZ-img {
		width: 280px;
		max-height: 420px;
		float: left;
		position: absolute;		
		overflow: hidden;
	}
	
	.post-styleA .post-styleZ-info {
		height: 420px;
	}
	
	.post-styleA .post-styleZ-info .table-cell-middle {
		padding: 40px;
	}
	
	.post-styleA .post-styleZ-info-with-t {
		padding-left: 280px;
	}
	/* */
	
	/* Post Style B */	
	.post-styleB .post-styleZ-img {
		width: 100%;
		height: auto;
		float: none;
		position: relative;
	}
		
	.post-styleB .post-styleZ-info {
		height: 180px;
		padding: 0 0 0 0;
	}
		
	.post-styleB .post-styleZ-info-with-t {
		padding-left: 0;
	}
	/* */
	
	/* Post Comments */
	.comment-form input[type="text"] {
		max-width: 300px;
	}
	.comment-form textarea {
		max-width: 600px;
	}
	/* */
	
	/* Contact Form 7 */
	.wpcf7-form input {
		max-width: 300px;
	}

	.wpcf7-form textarea {
		max-width: 600px;
	}
	/* */
					  
}

@media all and (min-width: 760px) {
	
	/* Article */		
	.author-box {
		padding: 40px 60px;
	}
	/* */
	
	/* Widget Areas */	
	.widget-item-home-outer-col2,
	.widget-item-upper-outer-col2 {
		width: 50%;
		margin-right: 20px;		
		display: inline-block;
		vertical-align: top;
	}
	
	.widget-item-home-outer-col2:nth-child(2n),	
	.widget-item-upper-outer-col2:nth-child(2n) {
		margin-right: 0px;
	}
	
	.widget-item-home-outer-col2:nth-child(2n+1),
	.widget-item-upper-outer-col2:nth-child(2n+1) {
		margin-left: -20px;
	}
	
	.home-widget-area-inner-col2,
	.upper-widget-area-inner-col2 {
		padding-left: 20px;
	}
	/* */
	
	/* Post Comments */
	.comment-info {
		margin-top: 0px;
	}
	
	.comment-author-img {
		display: table-cell;
	}
	
	.comment-content {
		display: table-cell;
	}
	
	.comment-text-w-a {
		margin-left: 60px;
	}
	/* */
	
	/* Post Style A */
	.post-styleA .home-listing-title-z-inner {
		font-size: 30px;
		line-height: 1.1em;
	}
	/* */
	
	/* Post Style B */
	.post-styleB .post-styleZ-img {
		width: 176px;
		height: 220px;
		float: left;
		position: absolute;
	}
	
	.post-styleB .post-styleZ-info {
		height: 220px;
		padding: 0 0 0 0;
	}
	
	.post-styleB .post-styleZ-info-with-t {
		padding-left: 176px;
	}
	/* */
				
}

@media all and (min-width: 786px) {
	
	.leaderboard-static.leaderboard-full {
		display: block;
	}
					
}

@media all and (min-width: 860px) {
	
	/* Layout */
	.article-container.post-detail {
		padding: 60px 60px 40px 60px;
	}
	
	article.post-page .article-container {
		padding: 40px 60px 40px 60px;
	}
	/* */
	
	/* Article */
	.header-area-title {
		font-size: 50px;
	}
	
	.header-area-excerpt {
		font-size: 22px;
	}
	/* */
					
	/* Post Comments */	
	.comment.depth-2,
	.comment.depth-3 {
		padding-left: 20px;
	}
	
	.comments-hdr {
		font-size: 35px;
	}
	/* */
	
	/* Post Style A */
	.post-styleA .home-listing-title-z-inner {
		font-size: 40px;
	}
	/* */
								
}

@media all and (min-width: 960px) {
	
	/* Layout */
	.row-1-3 {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	/* */
	
	/* Footer */
	.footer-text {
		margin-bottom: 0px;		
		display: inline-block;
		width: 31%;
	}
	
	.footer-menu-outer {
		display: inline-block;
		width: 31%;
		text-align: right;
	}
	
	.footer-nav {
		float: right;
	}
	
	.header-menu-outer .footer-nav {
		float: none;
	}
	
	.header-menu-touch .footer-nav {
		float: none;
	}
	
	.footer-social {
		display: inline-block;
		width: 38%;
		text-align: center;
		margin-bottom: 0px;
	}
	/* */
	
	/* Post Style A */
	.post-styleA-s {
		height: 420px;
		overflow: hidden;
	}
	
	.post-styleA-s .post-styleZ-img {
		width: 280px;
		max-height: 420px;
		float: left;
		position: absolute;		
		overflow: hidden;
	}
	
	.post-styleA-s .post-styleZ-info {
		height: 420px;
	}
		
	.post-styleA-s .post-styleZ-info-with-t {
		padding-left: 280px;
	}
	
	.post-styleA-s .home-listing-title-z-inner {
		font-size: 20px;
		line-height: 1.3em;
	}
	/* */
								
}

@media all and (min-width: 1000px) {
	
	/* Layout */
	.col-1-3 {
		width: 33.3334%;
		display: inline-block;
		padding-right: 14px;		
		float: left;
	}
		
	.col-1-3:nth-child(2n+2) {
		padding-left: 7px;
		padding-right: 7px;
	}
	
	.col-1-3:nth-child(3n+3) {
		padding-left: 14px;
	}
	
	.row-2-3 .col-1-3 {
		width: 50%;
		display: inline-block;
		padding-right: 10px;		
		float: left;
	}
	
	.row-2-3 .col-1-3:nth-child(2n+2) {
		padding-left: 10px;
		padding-right: 0px;
	}
	/* */
	
	/* Widget Areas */
	.widget-item-home-outer,
	.widget-item-upper-outer {
		width: 33.3334%;
		display: inline-block;
		vertical-align: top;
	}
	
	.widget-item-home-outer:nth-child(3n),
	.widget-item-upper-outer:nth-child(3n) {
		margin-right: 0px;
	}
	
	.widget-item-home-outer:nth-child(3n+1),
	.widget-item-upper-outer:nth-child(3n+1) {
		margin-left: -40px;
	}

	.home-widget-area-inner,
	.upper-widget-area-inner {
		padding-left: 40px;
	}
	
	.widget-item-home-outer-col2-sidebar {
		width: 50%;
		margin-right: 20px;		
		display: inline-block;
		vertical-align: top;
	}
	
	.widget-item-home-outer-col2-sidebar:nth-child(2n) {
		margin-right: 0px;
	}
	
	.widget-item-home-outer-col2-sidebar:nth-child(2n+1) {
		margin-left: -20px;
	}
	
	.home-widget-area-inner-col2-sidebar {
		padding-left: 20px;
	}
	/* */
							
	/* Footer */
	.widget-item-footer-outer,
	.widget-item-footer-outer-col4 {
		width: 33.3334%;
		margin-right: 40px;
		margin-bottom: 40px;
	}
		
	.widget-item-footer-outer:nth-child(2n),
	.widget-item-footer-outer-col4:nth-child(2n) {
		margin-right: 40px;
	}
	
	.widget-item-footer-outer:nth-child(2n+1),
	.widget-item-footer-outer-col4:nth-child(2n+1) {
		margin-left: 0px;
	}
	
	.widget-item-footer-outer:nth-child(3n),
	.widget-item-footer-outer-col4:nth-child(3n) {
		margin-right: 0px;
	}
	
	.widget-item-footer-outer:nth-child(3n+1),
	.widget-item-footer-outer-col4:nth-child(3n+1) {
		margin-left: -80px;
	}

	.footer-widget-area-inner,
	.footer-widget-area-inner-col4 {
		padding-left: 80px;
	}
	
	.footer-social .social-menu-item span {
		display: inline-block;
		padding-left: 8px;
	}
	/* */
	
	/* Page Navigation */
	.pagenavi .page-numbers {		
		display: inline-block;
	}
	
	.page-navi-prev {
		float: left;
		width: 50%;
		padding-right: 10px;
		padding-bottom: 0px;
	}
	
	.page-navi-next {
		float: right;
		width: 50%;
		padding-left: 10px;
	}
	/* */	
	
	/* Related & Authorized Posts */
	.related-posts-row-sidebar {
		padding-left: 40px;
	}
	
	.related-post-item-sidebar {
		width: 33.3334%;
		margin-right: 20px;
		margin-bottom: 0;
	}
	
	.related-post-item-sidebar:first-child {
		margin-left: -40px;
	}	
	/* */
	
	/* Post Style A */
	.post-styleA-s .post-styleZ-info .table-cell-middle {
		padding: 40px;
	}
	/* */	
	
}

@media all and (min-width: 1020px) {
	
	/* Layout */
	.col-1-2-sidebar {
		width: 50%;
		display: inline-block;
		padding-right: 10px;		
		float: left;
	}
	
	.col-1-2-sidebar:nth-child(2n+2) {
		padding-left: 10px;
	}
	/* */
	
}

@media all and (min-width: 1080px) {
	
	/* Article */
	.home-listing-title-z-inner {
		font-size: 20px;
	}
	
	.post-styleB .home-listing-title-z-inner,
	.post-styleA-2 .home-listing-title-z-inner {
		font-size: 25px;
	}
		
	.author-box-sidebar {
		padding: 40px 60px;
	}
	/* */
	
	/* Post Comments */
	.comments-container {
		padding: 40px 60px;
	}
		
	.comment.depth-2,
	.comment.depth-3 {
		padding-left: 60px;
	}
	
	.comment-info {
		width: 50%;
	}
	/* */
	
	/* Widgets */	
	.upper-widget-area .blake-von-hauer-posts-widget .widget-listing-z-title,
	.home-widget-area .blake-von-hauer-posts-widget .widget-listing-z-title {
		font-size: 20px;
		line-height: 1.1em;
	}
	
	.upper-widget-area .blake-von-hauer-posts-widget .widget-listing-z,
	.home-widget-area .blake-von-hauer-posts-widget .widget-listing-z {
		height: 100px;
	}
	
	.upper-widget-area .blake-von-hauer-posts-widget .widget-listing-z img,
	.home-widget-area .blake-von-hauer-posts-widget .widget-listing-z img {
		width: 80px;
		height: 100px;
	}
	
	.upper-widget-area .blake-von-hauer-posts-widget .widget-listing-z-info,
	.home-widget-area .blake-von-hauer-posts-widget .widget-listing-z-info {
		height: 100px;
	}
	
	.upper-widget-area .blake-von-hauer-posts-widget .widget-listing-z-info-with-t,
	.home-widget-area .blake-von-hauer-posts-widget .widget-listing-z-info-with-t {
		padding-left: 80px;
	}
	/* */
	
	/* Page Navigation */	
	.page-navi-prev-info,
	.page-navi-next-info {
		font-size: 20px;
	}
	/* */
	
	/* Post Style A */
	.post-styleA-s .home-listing-title-z-inner {
		font-size: 30px;
		line-height: 1.1em;
	}
	/* */
	
}

@media all and (min-width: 1106px) {
	
	.leaderboard-static.leaderboard-among {
		display: block;
	}
					
}

@media all and (min-width: 1160px) {
	
	/* Footer */
	.widget-item-footer-outer-col4 {
		width: 25%;
		margin-right: 40px;
		margin-bottom: 40px;
	}
	
	.widget-item-footer-outer-col4:nth-child(2n),
	.widget-item-footer-outer-col4:nth-child(3n) {
		margin-right: 40px;
	}
	
	.widget-item-footer-outer-col4:nth-child(2n+1),
	.widget-item-footer-outer-col4:nth-child(3n+1) {
		margin-left: 0px;
	}
	
	.widget-item-footer-outer-col4:nth-child(4n) {
		margin-right: 0px;
	}
	
	.widget-item-footer-outer-col4:nth-child(4n+1) {
		margin-left: -120px;
	}
		
	.footer-widget-area-inner-col4 {
		padding-left: 120px;
	}
	/* */
	
	/* Post Style A */
	.post-styleA-s .home-listing-title-z-inner {
		font-size: 40px;
	}
	/* */
	
}